@import url("https://fonts.googleapis.com/css?family=Quicksand");

html {
	font-family: 'Quicksand', "Helvetica Neue", "Helvetica";
	background-color: #2A2D3C;
	font-size: 14pt;
	-ms-transition: background-image 1s linear;
    -o-transition: background-image 1s linear;
    -moz-transition: background-image 1s linear;
    -webkit-transition: background-image 1s linear;
    transition: background-image 1s linear;
	background-image: url('../icons/bg1.png');
}
body {
	padding-top: 10%;
	margin-left: auto;
	margin-right: auto;
}
#section1 img {
	width: 50px;
	height: 50px;
	opacity: 0;
}
hr {
	width: 0%;
	opacity: 1;
	border: 0; 
	height: 1px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), 
	rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)); 
}
a:-webkit-any-link {
	text-decoration:none !important;
}
#images img {
	width: 30px;
	height: 30px;
	margin: 0px 10px;
	opacity: 0;
}
#textBody {
	padding-left: 10px;
	text-align: center;
	color: white;
	opacity: 0;
}
#textBody p {
	font-size: 14pt;
	text-align: center;
	color: white;
	opacity: 0;
}