@import url("https://fonts.googleapis.com/css?family=Lato:400,300");
html {
  width: 100%;
  height: 0;
  padding: 0;
  margin: 0;
  font-family: lato;
  background-color: #0c1d38
}

html:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100vw;
  height: 100vh;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAgklEQVRYR+3WsQ2AMBBD0WQVJmGjzMJGTMIqoBTp6L4jXfHpHVnvXNBb0e84xzur9aL9WvmCC66soAVT2/bEVFJBBakAzbtBBakAzbtBBakAzUc3uH7Tn/uKvRt7aEqVL0jP+ZePClpwhwB90xMrSAVo3g0qSAVo3g0qSAVo3g1SwQ+HDQvJDaD19AAAAABJRU5ErkJggg==") repeat
}

@media screen and (max-device-width: 1000px) {
  html:before {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAfUlEQVRYR+2WsQ3AIBDEYBUmyUaZhY2YhFVIFYnej/QSpj90+FxQS8LTnnf9tWrCfsWCkauknHh/oAXp3BKUICVA8zooQUqA5nVQgpQAzd/j4P5Nn6OHPTzsIgtSmU/lwya24CkC9F4nliAlQPM6KEFKgOZ1UIKUAM2nd/AD64wRmRa5248AAAAASUVORK5CYII=") repeat
  }
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw
}

a {
  color: #FDFDFF;
  text-decoration: underline
}

a:hover {
  color: white;
  text-shadow: 0px 0px 1px white
}

.main {
  position: absolute;
  width: 587px;
  margin-top: 170px;
  margin-left: 7%;
  margin-bottom: 0px;
  background: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column
}

@media screen and (max-device-width: 1000px) {
  .main {
    width: 83%;
    margin-top: 150px
  }
}

.main .name {
  margin-bottom: 7px;
  color: #FDFDFF;
  font-size: 50px;
  letter-spacing: 1px;
  margin-left: -2px;
  font-weight: 300
}

@media screen and (max-device-width: 1000px) {
  .main .name {
    font-size: 120px
  }
}

.main .contactInfo {
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  color: #FDFDFF;
  letter-spacing: 2px
}

@media screen and (max-device-width: 1000px) {
  .main .contactInfo {
    margin-top: 15px;
    font-size: 40px;
    letter-spacing: 5px
  }
}

.main .contactInfo .infoBox {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between
}

@media screen and (max-device-width: 1000px) {
  .main .contactInfo .infoBox {
    justify-content: flex-start
  }
}

.main .contactInfo .infoBox .infoLink {
  font-family: avenir next, lato;
  text-transform: uppercase;
  float: left;
  cursor: pointer;
  text-decoration: none
}

.main .contactInfo .infoBox .separator {
  margin-left: 10px;
  margin-right: 10px
}

.main .contactInfo .infoBox .separator::before {
  content: "|"
}

@media screen and (max-device-width: 1000px) {
  .main .contactInfo .infoBox .separator {
    margin-left: 20px;
    margin-right: 20px
  }
  .main .contactInfo .infoBox .separator:nth-child(8) {
    display: none
  }
}

@media screen and (max-device-width: 1000px) {
  .main .contactInfo .infoBox .infoLink,
  .main .contactInfo .infoBox .separator {
    margin-top: 5px
  }
}

.main .summary {
  color: #b4b4de;
  font-size: 18px;
  font-weight: 300;
  word-wrap: break-word
}

@media screen and (max-device-width: 1000px) {
  .main .summary {
    margin-top: 30px;
    font-size: 50px;
    line-height: 60px
  }
}

.main .summary p {
  margin-top: 10px
}

.main .summary p a {
  color: #e0e0e0;
  font-weight: 400
}

.main .summary .mini {
  display: inline;
  font-size: 8px
}

