body
{
	width: 99%;
	font-family:  "Helvetica Neue";
}

h1
{
	margin: 0 auto 0 auto;
	position: relative;
	text-align: center;
	font-size: 50px;	
}


span
{
	color: #A9E2F3;
}

a:-webkit-any-link
{
	text-decoration:none !important;
	color: #58ACFA;
}

a:hover { 
    color: #A9E2F3;
}

#iconHome img
{
	width: 50px;
	height: 50px;
	opacity: 0;
}

img
{
	color: #58ACFA;
	width: 30px;
	height: 30px;
	margin: 0px 10px;
}

tr
{
	margin-left: auto;
	margin-right: auto;
	display: inline-table;
}

#textBody
{
	width: 25em;
	text-align: left;
	color: #BDBDBD;
}